<ion-header>
  <ion-toolbar>
    <ion-title>
      Entregas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Default Input -->
<ion-input></ion-input>






<ion-item>
  <ion-label placeholder="stacked">Produto</ion-label>
  <ion-input placeholder="Digite o nome do produto"></ion-input>
</ion-item>

<ion-item>
  <ion-label placeholder="stacked">Descrição</ion-label>
  <ion-input placeholder="Digite o nome da descrição"></ion-input>
</ion-item>

<ion-item>
  <ion-label placeholder="stacked">Peso</ion-label>
  <ion-input placeholder="Digite o seu peso"></ion-input>
  
</ion-item>

<ion-item>
  <ion-label placeholder="stacked">Largura</ion-label>
  <ion-input placeholder="Digite a sua largura"></ion-input>
  
</ion-item>

<ion-item>
  <ion-label placeholder="stacked">Altura</ion-label>
  <ion-input placeholder="Digite a sua altura"></ion-input>
  
</ion-item>

<ion-item>
  <ion-label placeholder="stacked">Cumprimento</ion-label>
  <ion-input placeholder="Digite a sua largura"></ion-input>
  
</ion-item>
<ion-item>
  <ion-label placeholder="stacked">Quantidade</ion-label>
  <ion-input placeholder="Digite a sua quantidade"></ion-input>
  
</ion-item>

<ion-item>
  <ion-label placeholder="stacked">Valor</ion-label>
  <ion-input placeholder="Digite o valor do produto"></ion-input>
  
</ion-item>
</ion-content>
